[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "project-2-groupa-dungeons-and-dumb-asses-Jareds-work/PROJECT_1/googletest"]
  path = project-2-groupa-dungeons-and-dumb-asses-Jareds-work/PROJECT_1/googletest
  url = https://github.com/google/googletest.git